<!DOCTYPE HTML>

<html lang="en" itemscope itemtype="http://ssnmun.org">
	<head>
		<title>SSNMUN '19</title>
		<link rel="icon" href="/static/images/nav-back.png" />

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Google Search Preview -->
		<meta name="description" content="The annual MUN Conference of SSN College of Engineering is back with our sixth edition - SSNMUN 19" />
		<meta name="keywords" content="ssnmun,ssn,mun,model,united,nations,Model United Nations,United Nations" />
		<meta name="author" content="Rohit Midha and Srinath V Rao" />

		<!-- Default Version of Site URL -->
		<link rel="canonical" href="http://ssnmun.org" />

		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/agency.css" />
		<link rel="stylesheet" href="/static/css/style.css"/>

		<!-- Mobile Specific Meta -->
				<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			body {
				margin-right: 0 !important;
				padding-right: 0 !important;
				margin-left: 0 !important;
				padding-left: 0 !important;
			}
			a:hover {
				border-bottom: none;
				text-decoration: none;
			}
			body.modal-open-noscroll {
					padding-right: 0 !important;
					overflow-y: auto;
			}
			.modal {
				overflow-y: auto;
				padding-top: 50px;
			}
			.modal-open-noscroll #nav, .modal-open {
				padding-right: 0 !important;
			}
			.modal-open {
				overflow: auto;
			}
			form {
				text-align: left;
			}
		</style>

	</head>
	<body class="landing">
		<script type="text/javascript">
																		function removeOptions(selectbox)
																			{
																			    var i;
																			    for(i = selectbox.options.length - 1 ; i >= 0 ; i--)
																			    {
																			        selectbox.remove(i);
																			    }
																			}
																			function remCount(){
																				var countr = document.getElementById("countryPref1");
																			    removeOptions(countr);
																			    var opt = document.createElement('option');
																			    opt.appendChild( document.createTextNode("--- Select One ---") );
																			    opt.value = "";
																			    countr.appendChild(opt);
																			}

																		function fillCountries(){
																			remCount();
																			var countr = document.getElementById("comPref1");
																			var s = countr.value;
																			$.ajax({
	type: "POST",
	url: "api_countries",
	dataType: 'JSON',
	data: s,

	success: function (obj, textstatus) {
		if( !('error' in obj) ) {
			le = Object.values(obj);
			l = le.length;
			var countr = document.getElementById("countryPref1");
                        if (l == 0){
				alert("No countries left for "+s);
			}
			for (var i = 0; i < l; i++) {
				var opt = document.createElement('option');
				opt.appendChild( document.createTextNode(le[i]) );
				opt.value = le[i];
				countr.appendChild(opt);
			}
		}
		else {
			alert("ERROR!! Please try again later.");
		}
	},
	error: function(XMLHttpRequest, textStatus, errorThrown) {
		alert("An error occurred. Please try again later.");
	}
});


																        }
																	</script>
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt" style = "margin-top: -0.18%;">
						<a href="index.html" style = "color: white; margin-top: -45%;"><h1>SSNMUN '19</h1></a>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="#banner">Home</a></li>
											<li><a href="#from-secretary-general" class="more scrolly">From The Secretary General</a></li>
											<li><a href="#comittees" class="more scrolly">Committees</a></li>
											<li><a href="#apps" class="more scrolly">Applications</a></li>
											<li><a href="#secretariat" class="more scrolly">Secretariat</a></li>
											<li><a href="#contact-us" class="more scrolly">Contact Us</a></li>
											<li><a href="http://www.ssn.edu.in" class="more scrolly" target="_blank">Blog</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>


					<!-- Banner -->
					<section id="banner">
						<div class="inner">
								<h2>Welcome to SSNMUN '19</h2>
								<p>30th August - 1st September</p>
						</div>
						<a href="#from-secretary-general" class="more scrolly">Learn More</a>
					</section>


					<div id = "from-secretary-general">
						<article id="main">
							<section class="wrapper style5">
								<div class = "12u 12u(narrower)" align = "center">
									<img src ="/static/images/munlogo.jpg" style="max-width: 20%;" alt="SSNMUN 19 Logo">
								</div>
								<br>
								<div class = "inner">
									<h3 align="center" style = "color: black;">From The Secretary General</h3>
									<p align="center" style ="color: black;">Honourable Future Delegates, Esteemed Colleagues, Dear Friends</p>
									<p style = "color:black; text-align: justify;">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</p>
									<img src = "/static/images/nava_Sign.png" style= "height: 100px; width: 150px;" />
									<p style = "font-weight: bold; color: black;">
										Navneeth Venkatesan,<br>
										Secretary General,<br>
										SSNMUN 19
									</p>
								<hr/>
							</div>
						</section>
					</article>
				</div>

				<div id = "comittees">
					<article id="main">
						<header style = "background-image: url('/static/images/boredroomx.jpeg'); margin-top: 0.2%;">
							<h2>The Committees</h2>
						</header>

						<section class="wrapper style5">
							<div class="container">
								<div class="row 200%">
									<div class="4u 12u(narrower)" align = "center">
										<div id="sidebar">
											<!-- Sidebar -->
											<section>
												<img src = "/static/images/GA.jpg" style = "height: 200px; width: 200px;" alt="General Assembly">
											</section>
										</div>
									</div>
									<div class="8u 12u(narrower) important(narrower)" align = "center">
										<p style = "color: black; font-size: 24px;">Disarmamaent and International Security Council</p>
										<p style = "color: black;">
											The first committee of the General Assembly, the UNGA-DISEC is involved with disarmament, global threats to peace and other related international security questions. It considers all disarmament and international security matters within the scope of the Charter or relating to the powers and functions of any other organ of the United Nations.
All 193 member states of the UN have equal voting rights in the DISEC.

The UNGA DISEC is one of the five committees being simulated at SSN MUN this year.
										</p>
										<hr/>
									</div>
								</div>
							</div>
							<br>
							<div class="container">
								<div class="row 200%">
									<div class="4u 12u(narrower)" align = "center">
										<div id="sidebar">
										<!-- Sidebar -->
											<section>
												<img src = "/static/images/HRC1.jpg" style = "height: 200px; width: 200px;" alt="Human Rights Council">
											</section>
										</div>
									</div>
									<div class="8u 12u(narrower) important(narrower)" align = "center">
										<p style = "color: black; font-size: 24px;">Human Rights Council</p>
										<p style = "color: black;">
											The United Nations Human Rights Council is an inter-governmental body which was established by the UN General Assembly to replace the UN Commission on Human Rights. Since its inception in 2006, the primary responsibility of the UN HRC is to ensure the promotion and protection of human rights, by addressing human rights infringements and making recommendations for the same.
										</p>
										<hr/>
									</div>
								</div>
							</div>
							<br>
							<div class="container">
								<div class="row 200%">
									<div class="4u 12u(narrower)" align = "center">
										<div id="sidebar">
										<!-- Sidebar -->
											<section>
												<img src = "/static/images/SC1.jpg" style = "height: 200px; width: 200px;" alt="Security Council">
											</section>
										</div>
									</div>
									<div class="8u 12u(narrower) important(narrower)" align = "center">
										<p style = "color: black; font-size: 24px;">Security Council</p>
										<p style = "color: black;">
											The United Nations Security Council, touted as the institution's most powerful body, is the organ established by the UN Charter and whose primary responsibility is the maintenance of international peace and security. The council convenes regularly to assess issues to international security and is empowered to impose binding obligations on all 193 member states of the United Nations.
										</p>
										<hr/>
									</div>
								</div>
							</div>
							<br>

							<div class="container">
								<div class="row 200%">
									<div class="4u 12u(narrower)" align = "center">
										<div id="sidebar">
										<!-- Sidebar -->
											<section>
												<img src = "/static/images/Crisis.jpg" style = "height: 200px; width: 200px;" alt="ECOFIN">
											</section>
										</div>
									</div>

									<div class="8u 12u(narrower) important(narrower)" align = "center">
										<p style = "color: black; font-size: 24px;">Economic and Financial Committee</p>
										<p style = "color: black;">
											The ECOFIN is the second committee of the United Nations General Assembly and a very unique committee that deals with issues relating to economic growth and development, policy questions, global financial partnerships, bailouts and even issues relating to groups in special situations!
										</p>
										<hr/>
									</div>
								</div>
							</div>
							<br>
						</section>
					</article>
				</div>
				<div id = "apps">
					<article id="main">
						<header style = "background-image: url('/static/images/Register.jpg'); margin-top: 0.2%;" >
								<h2>APPLICATIONS</h2>
								<p></p>
						</header>

						<section class="wrapper style5">
							<div class="container">
								<div class="row 200%">

									<div class="6u 12u(narrower)" align = "center">
										<div id="sidebar">
											<h3 style = "color: black;" align="center">Priority<br>Registration</h3>
											<!-- Sidebar -->

											<section id="regDel" >

												<button type="button" id="apply" style = "background: black; border:none; color: white;" class="special" data-toggle="modal" data-target="#reg-del">APPLY</button>
												<!-- Modal -->
												<div class="modal fade" id="reg-del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
													<div class="modal-dialog" style = "color: black;">
														<div class="modal-content">
															<div class="modal-header">
																<span type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true" style="font-size: 1.4em;">&times;</span>
																</span>
																<h3 class="modal-title" id="myModalLabel">Priority Registration</h3>
															</div>
															<form role="form" action="{{ url_for('handle_data') }}" method="post" name="formDel" class="formDel" target="_self">
																<div class="modal-body">
																	<div class="form-group">
																		<label for="nameDel">Name</label>
																		<input type="text" class="form-control" id="nameDel" name="name"  placeholder="Your Name" required />
																		<p class="help-block">Your Name is required</p>
																	</div>
																	<div class="form-group" >
																		<label for="collegeDel">Institution</label>
																		<input type="text" class="form-control" id="collegeDel" name="college" placeholder="Name of your College/University" required />
																		<p class="help-block">Your Institution is required</p>
																	</div>
																	<div class="form-group" >
																		<label for="phone-noDel">Phone No</label>
																		<input type="tel" class="form-control" id="phone-noDel" name="phone_no"  placeholder="Your Phone No" required />
																		<p class="help-block">Your Phone No is required</p>
																	</div>
																	<div class="form-group" >
																		<label for="emailDel">E-Mail ID</label>
																		<input type="email" class="form-control" id="emailDel" name="email" placeholder="Your E-Mail ID" required />
																		<p class="help-block">Only one E-Mail ID per registration.</p>
																	</div>

																	<div class="form-group" >
																		<label for="no-delDel">No of MUNs as a Delegate</label>
																		<input type="number" class="form-control" id="no-delDel" name="no_del" required />
																		<p class="help-block">Required</p>
																	</div>
																	<div class="form-group" >
																		<label for="expDel">MUN Experience</label>
																		<textarea rows="4" class="form-control" id="expDel" name="exp" placeholder="S. No. - Name of the MUN - Year - Award(if any)" required></textarea>
																		<p class="help-block">Required</p>
																	</div>

																	<div class="row">
																		<div class="form-group col-sm-5" >
																			<label for="pref1">Committee Preference</label>
																			<select onchange="if (this.selectedIndex) fillCountries(); else remCount();" class="form-control" id="comPref1" name="comPref1" required>
																				<option value="">--- Select One ---</option>
																				<option value="DISEC">Disarmamaent and International Security Council</option>
																				<option value="SC">Security Council</option>
																				<option value="ECOFIN">Economic and Financial Committee</option>
																				<option value="HRC">Human Rights Committee</option>
																			</select>
																			<p class="help-block">Required</p>
																		</div>
																		<div class="form-group col-sm-7" >
																			<label for="countryPref1">Country Preference</label>
																			<select class="form-control" id="countryPref1" name="countryPref1" required>
																				<option value="">--- Select One ---</option>
																			</select>
																			<p class="help-block">Required</p>
																		</div>
																	</div>

																</div>
																<div class="modal-footer">
																	<button type="button" class="btn" data-dismiss="modal">Close</button>
																	<button type="submit" class="special">Submit</button>
																</div>
															</form>
														</div>
													</div>
												</div>

											</section>
										</div>
									</div>

									<div class="modal fade" id="post-sub" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title" id="myModalLabel">Application Sent</h4>
												</div>
												<div class="modal-body">
													Thanks for registering for SSNMUN 19.<br>Follow us on our social media for updates.

												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
							<br>
							<p></p>
							<p></p>
							<hr />
						</section>
					</article>
				</div>

				<div id = "secretariat" style = "background: white;">
					<article id="main">

						<header style = "background-image: url('/static/images/Team.jpg'); margin-top: 0.2%;">
							<h2> The Secretariat</h2>
							<p></p>
						</header>

						<section class="wrapper style5">
							<!--<div class="inner">
								<h3 align = "center" style = "color: black;">The BITSMUN Secretariat</h3>
							</div>-->
						</section>

						<!-- Team Section -->
					</article>

				</div>

				<!--Contact-->
				<div id = "contact-us">
					<article id="main">

						<header style = "background-image: url('/static/images/contact.jpg'); margin-top: 0.2%;">
							<h2>Contact Us</h2>
						</header>

						<div class = "12u$" align = "center" style = "background: white;">
							<h4 align = "center" style = "color: black;">Find Us At:</h4>
							<iframe src="https://maps.google.com/maps?q=SSN%20college%20of%20engineering&t=&z=15&ie=UTF8&iwloc=&output=embed" width="80%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
							<!-- Footer -->
							<footer id="footer" style = "background-color: white;">
								<ul class="icons">
									<li><a href="https://www.facebook.com/groups/196993530907133/" target = "_blank" class="icon fa-facebook" style = "color: black;"><span class="label">Facebook</span></a></li>
									<li><a href="https://instagram.com/ssn_mun" target = "_blank" class="icon fa-instagram" style = "color: black;"><span class="label">Instagram</span></a></li>
								</ul>
							</footer>
<!--- SPONSORSHIP Brochure
							<div class = "12u 12u$(xsmall)" align = "center" style = "background: white; padding-bottom: 7%; margin-top: -5%;">
								<a href = "resources/spons.pdf" target = "_blank"><button type="button" class="special">SPONSORSHIP BROCHURE</button></a>
							</div>
-->
							<footer id = "footer1" style = "background-color: black; height: 200px; padding-top: 3%;">
								<div class = "container">

									<div class="row 50%">
										<div class="4u 12u$(xsmall)">
											<div class="team-member">
												<p class="text-muted" style = "color: white;">Email<br><br>ssnmun@gmail.com</p>
											</div>
										</div>
										<div class="4u 12u$(xsmall)">
											<div class="team-member">
												<p class="text-muted" style = "color: white;">Contact:<br><br>+91 9790172671<br>+91 9789869886<br>+91 9894463187</p>
											</div>
										</div>
										<div class="4u 12u$(xsmall)">
											<div class="team-member">
												<p class="text-muted" style = "color: white;">Address:<br><br>SSN College of Engineering<br>Old Mahabalipuram Rd, <br>Kalavakkam, <br>Tamil Nadu 603110</p>
											</div>
										</div>
									</div>

									<div class = "row 100%">
										<div class = "12u 12u$(xsmall)" align = "center">
											<div class = "team-member">
												<p style = "color: white;">&copy; SSNMUN </p>
											</div>
										</div>
									</div>

								</div>
							</footer>

						</div>
					</article>
				</div>

				<!-- Scripts -->
				<script src="/static/js/jquery.min.js"></script>
				<script async src="/static/js/jquery.scrollex.min.js"></script>
				<script async src="/static/js/jquery.scrolly.min.js"></script>
				<script async src="/static/js/skel.min.js"></script>
				<script async src="/static/js/init.js"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
				<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>


				<script async src="http://maps.googleapis.com/maps/api/js"></script>


		</div>
	</body>
</html>
